<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- css files --->
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <title>
            URL Shortner
        </title>
    </head>
    <body>
        <div id="app">
            <h1 class="header">
                Welcome to URL Shortner
            </h1>
            <div class="holder">
                With this application you can generate short url for every internet
                address that you link. Jut enter your url and click on create. You can
                also view your old urls.<br /><br />
                Created by Asal Delkhosh
            </div>
            <div class="holder">
                <h3 class="title">
                    Create a new URL
                </h3>
                <label>
                    Enter URL:
                </label>
                <input type="text" id="url-input" />
                <button class="btn btn-green" onclick="createURL()">
                    Create
                </button>
                <div id="url-result"></div>
            </div>
            <div class="holder">
                <h3 class="title">
                    List of Top Existing URLs
                </h3>
                <ul style="list-style-type: none;" id="urls">
                </ul>
            </div>
        </div>
        <!-- JS files -->
        <script src="/js/script.js"></script>
        <script>
            getURLs()
        </script>
    </body>
</html>