<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- css files --->
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <title>
            URL Shortner
        </title>
    </head>
    <body>
        <h1>
            Welcome to URL Shortner
        </h1>
        <div>
            <h2>
                Create a new URL
            </h2>
            <label>
                Enter URL:
            </label>
            <input type="text" id="url-input" />
        </div>
        <div>
            <h2>
                List of Existing URLs
            </h2>
            <ul id="urls">

            </ul>
        </div>
        <!-- JS files -->
        <script src="/js/script.js"></script>
    </body>
</html>